name: Copy texfiles to website repository

on:
  pull_request:
    branches: [master]
    types: [closed]
    paths:
      - 'texfiles/**'

jobs:
  copy-texfiles:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout MultilinearVerseLatex repository
      uses: actions/checkout@v2
      with:
        path: MultilinearVerseLatex

    - name: Checkout MultilinearVerse repository
      uses: actions/checkout@v2
      with:
        repository: aleianno90/MultilinearVerse
        path: MultilinearVerse
        token: ${{ secrets.MULTILINEAR_VERSE_TOKEN }}

    - name: Copy texfiles folder
      run: |
        cd MultilinearVerse/texfiles && ls | grep -v 'tags' | xargs rm -rf && cd ..
        cp -rf MultilinearVerseLatex/texfiles/* MultilinearVerse/texfiles

    - name: Commit and push changes
      run: |
        cd MultilinearVerse
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git checkout latex-contribution
        git add texfiles
        git commit -m "Update texfiles folder"
        git push
